.header {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(65, 188, 104);
    border: 20px solid rgb(65, 188, 104);
    color: whitesmoke;
}
.nav {
    text-align: center;
    margin: 20px;
}
.main {
    text-align: center;
    background-color: rgb(65, 188, 100);
}
